.main {
    max-width: 960px;
    margin: auto;
}

.title {
    text-align: center;
    margin: 4rem 0;
}

.blog {
    border: black 1px solid;
    padding: 2rem;
    margin-bottom: 1rem;
}

.blog_title {
    text-transform: capitalize;
    margin-top: 0;
}

.blog_body {
    margin-bottom: 0;
}